@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@450');

.Action-Container{
    background-color:#495e57;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    padding: 1.25rem 12%;
    max-width: 100%;
    width: auto;
}

.Action-flex{
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 64px;
    font-weight: medium;
}

.Action-title {
    height: 55px;
    width: 300px;
    color: #F4CE14;
    margin: 0;
    padding: 0;
    font-family: Markazi Text;
    text-align: left;
    font-size: 64px;
    font-weight: medium;
}

.Action-Location {
    height: auto;
    width: 300px;
    color: #EDEFEE;
    margin: 0;
    padding: 0;
    font-family: 'Markazi Text';
    text-align: left;
    font-size: 40px;
}

.Action-text {
    height: auto;
    width: 300px;
    color: #EDEFEE;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    font-size: 18px;
    font-weight: medium;
}

.ActionImg {
    height: 300px;
    width: 300px;
    border-radius: 5%;
    object-fit: cover;
    object-position: center;
    position: relative;
}