.Confirmed-Container{
    background-color:#495e57;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    padding: 1.25rem 12%;
    max-width: 100%;
    width: auto;
}

.Confirmed-flex{
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 64px;
    font-weight: medium;
}

.Confirmed-Text {
    font-size: 20px;
    color: #F4CE14;
    font-weight: medium;
}

.ThankYou{
    color: #F4CE14;
    font-size: 64px;
}